<div class='pull-right'>
  <%= link_to '+ Create An Issue', new_issue_path, :class => "btn btn-primary" %>
</div>
<h1>My Issues</h1>
<br/>

<table class="table">
  <tbody>
    <% @participations.each do |p| %>
      <% f = p.issue %>
      <% next if f.nil? %>
      <tr>
        <td><h3><%= link_to f.title, issue_path(f) %></h3></td>
        <td><p></p><%= p.level_in_words %></td>
        <td>
          <% if p.level == Participation::MEMBER %>
            <%= link_to "Hide", hide_participation_path(p), :method => :put, :class => 'btn' %>
          <% end %>
          <%= link_to "Edit", account_settings_url, :class => 'btn' if can?(:edit, f) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
