<div class="hero-unit home">
  <div class="row">
    <div class="span12">
      <h1 style="font-size:76px; margin-bottom:20px;">If I were President...</h1>
      <h2>Represent yourself.</h2>
    </div>

    <div class="span3">
      <%= form_for @user, :url => create_with_issue_users_path, :html => {:class => "form-stacked"} do |f| %>
        <% if @user.errors.any? or @issue.errors.any? %>
          <div class="error_messages">
            <ul>
              <% for message in @user.errors.full_messages.reject{|msg| msg =~ /digest/} %>
                <li><%= message %></li>
              <% end %>
              <% for message in @issue.errors.full_messages %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="featured-issues" class="span10" style="margin-bottom:50px;">
  <h1>Featured Issues</h1>
  <% @issues = Issue.all.to_a %>
  <% @issues.each do |issue| %>
    <h2><%= link_to issue.title, issue_path(issue) %></h2>
    <h3 style="margin-bottom:30px;"><%= issue.description %></h3>
  <% end %>
</div>