<% reply_procon ||= false %>

<%= form_for @procon, :url => proposal_procons_path(@issue, @proposal), :remote => reply_procon, :html => {:class => "procon-form", :id => 'addpro-form' } do |f| %>
  <%= f.hidden_field :parent_id %>
  <%= f.hidden_field :yepnope, :value => true %>

  <%= render 'shared/error_messages', :target => @proposal %>
  <%= render 'shared/error_messages', :target => @procon %>

  <p><%= f.text_area :text, :class => "span6", :rows => '10' %></p>
  <p>
    
  </p>
  <p>
    <% button_text = @procon.new_record? ? 'Submit' : 'Save Changes' %>
    <%= submit_tag button_text, :class => "btn btn-primary", :disable_with => button_text, :disabled => !signed_in? %>

    <% if reply_procon %>
      <%= link_to "cancel", '#', :class => "cancel-link btn" %>
    <% end %>

    <% if not signed_in? %>
      <%= link_to "Sign in or create an account", signin_path %> to discuss.
    <% end %>
  </p>
<% end %>
