<%= form_for @proposal, :html => {:class => "proposal-form form-stacked"} do |f| %>
  <h2>New Proposal</h2><br/>
  
  <%= render 'shared/error_messages', :target => @proposal %>
  
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, :class => "span8" %>
    <%= f.label :description %>
    <%= f.text_area :description, :class => "span8" %>
  </p>
  
  
  <% if @proposal.tags.present? %>
    <p>
      <%= f.label :tag_ids, 'Tags' %>
      <% current_forum.tags.each do |tag| %>
        <span>
          <% on = @proposal.tags.include?(tag) %>
          <%= check_box_tag "proposal[tag_ids][]", tag.id, on, :class => "tag-checkbox" %>
          <%= link_to tag.name, '#', :class => "tag #{'active' if on} tag-link" %>
        </span>
      <% end %>
    </p>
  <% end %>
  
  <div class="form-actions">
    <% if @proposal.new_record? %>
      <%= submit_tag "Submit", :class => "btn btn-primary", :disable_with => "Submitting..." %> &nbsp; <%= link_to "Cancel", :back, :class => "btn" %>
    <% else %>
      <%= submit_tag "Save Changes", :class => "btn btn-primary", :disable_with => "Saving..." %> &nbsp; <%= link_to "Cancel", :back, :class => "btn" %>
    <% end %>
  </div>
<% end %>