<ul class="breadcrumb" style="margin-top:-18px;">
      <li>
        <%= link_to 'Issues', issues_path %> <span class="divider">/</span>
      </li>
      <li>
        <%= link_to @issue.title, issue_path(@issue) %> <span class="divider">/</span>
      </li>
      <li>
        <%= link_to 'Proposals', proposals_path(@issue, @proposal) %> <span class="divider">/</span>
      </li>
    </ul>
  <div class="proposal" %>
  <div class="issue span12" style="margin-bottom:20px;">
    <h3><span style="color:grey">Issue:</span> <%= link_to @issue.title.titlecase, issue_path(@issue) %></h3>
    
  </div>
  <div class="proposal span12">
    <h2 class="title" style="color:grey">Proposal: </h2>
    <h2 class="title" style="margin-bottom:30px;"><%= @proposal.title %></h2>
    <p class="description"><%= @proposal.description %></p>
  </div>
  <%- # render :partial => 'shared/byline', :locals => {:comment_or_proposal => @proposal, :voting => true, :show_tags => true} %>
  <%= @proposal.html.html_safe if @proposal.html.present? %>
  <p class="span9">
    <% if can? :edit, @proposal %>
      <%= link_to 'edit', edit_proposal_path(@proposal) %>
    <% end %>
    <% if can? :destroy, @proposal %>
      <%= link_to 'delete', proposal_path(@proposal), :method => :delete, :confirm => "Are you really sure you want to delete this proposal?  This will delete any comments as well." %>
    <% end %>
  </p>
</div>

<hr/>

<div class="row">

  
  <div class="span6"> 
    <h2>Pros</h2> 
    <%= render :partial => 'procons/form_pro' %>  
    <section id="pros">
      <%= render @pros %>
    </section>
  </div>
  
  <div class="span6">
    <h2>Cons</h2>
    <%= render :partial => 'procons/form_con' %>   
    <section id="cons">
      <%= render @cons %>
    </section>
  </div>
  
    <div id="reply_comment" style="display: none;">
      <%- # render :partial => "procons/form", :locals => {:reply_comment => true} %>
    </div>

  </div>
  <div class="span6">
  </div>
</div>
